<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="com.android.xhs.XposedService"
            android:exported="true" />

    </application>

</manifest>
